logs/*
!.gitkeep
node_modules/
tmp
.idea
.DS_Store

bower_components/

.grunt
.gradle

build/

.project
.classpath
.settings
.metadata

.recommenders
*.swp
.~lock*

data-aggregator/bin

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

